<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div class="side">
<a href="#" class="active">Home</a>
<a href="#">About</a>
<a href="#"> Course</a>
<a href="#"> Contact</a>
  </div>  
  <div class="txt">

<h1>sample header tittle</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, quos? Accusamus perspiciatis perferendis iusto repudiandae placeat odit iure natus? Eius optio eum, nisi voluptatum rerum vel reiciendis repellendus architecto consequuntur.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat natus blanditiis hic sit, officiis aliquam deserunt perspiciatis odio quis. Architecto cumque tenetur eveniet voluptatem alias dolor fugiat iste molestiae quisquam!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quae asperiores quia aperiam, labore illum a atque adipisci distinctio non aliquam vel commodi rerum cupiditate et fugit. Veniam, corrupti reiciendis!</p>


  </div>
</body>
</html>